.sidebar {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0ea5e9;
}
.signout {
  margin-bottom: 4rem;
  color: white;
  transform: scale(1.2);
  cursor: pointer;
}
.bar {
  margin-top: 1rem;
  color: white;
  transform: scale(1.5);
  cursor: pointer;
}
